body {
    margin: 0;
    background: #111;
    color: white;
    font-family: Arial;
}

.toolbar {
    display: flex;
    gap: 10px;
    padding: 12px;
    background: #1b1b1b;
}

#grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    background: #1a1a1a;
    padding: 10px;
}

    .card img {
        width: 100%;
    }

.pagination {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.meta {
    padding: 6px 0;
}

.title {
    font-size: 16px;
    font-weight: 600;
}

.artist,
.album,
.likes {
    font-size: 13px;
    color: #bbb;
}